<div class='num-btns-container'>
  <div class='slider-panel quarter-panel' id='panel-4'>
    <input id='tip-slider' max='0.30' min='0.00' ng-change='sliderUsed(1); recalcTipCurrency(); calcTotal()' ng-model='tip.percent' step='0.01' type='range'>
  </div>
  <div class='row-btns'>
    <button class='num-btn' ng-click="btnInput('1')" type='button'>
      <div class='num-btn-text'>1</div>
    </button>
    <button class='num-btn' ng-click="btnInput('2')" type='button'>
      <div class='num-btn-text'>2</div>
    </button>
    <button class='num-btn' ng-click="btnInput('3')" type='button'>
      <div class='num-btn-text'>3</div>
    </button>
  </div>
  <div class='row-btns'>
    <button class='num-btn' ng-click="btnInput('4')" type='button'>
      <div class='num-btn-text'>4</div>
    </button>
    <button class='num-btn' ng-click="btnInput('5')" type='button'>
      <div class='num-btn-text'>5</div>
    </button>
    <button class='num-btn' ng-click="btnInput('6')" type='button'>
      <div class='num-btn-text'>6</div>
    </button>
  </div>
  <div class='row-btns'>
    <button class='num-btn' ng-click="btnInput('7')" type='button'>
      <div class='num-btn-text'>7</div>
    </button>
    <button class='num-btn' ng-click="btnInput('8')" type='button'>
      <div class='num-btn-text'>8</div>
    </button>
    <button class='num-btn' ng-click="btnInput('9')" type='button'>
      <div class='num-btn-text'>9</div>
    </button>
  </div>
  <div class='row-btns'>
    <button class='num-btn' ng-click="btnInput('0')" type='button'>
      <div class='num-btn-text'>0</div>
    </button>
    <button class='num-btn' ng-click="btnInput('.')" type='button'>
      <div class='num-btn-text'>.</div>
    </button>
    <button class='num-btn' ng-click="btnInput('C')" on-hold='clearAll()' type='button'>
      <div class='num-btn-text'>C</div>
    </button>
  </div>
</div>
