<ion-view title='TipAdvisor'>
  <ion-content ng-controller='homeCtrl'>
    <ion-refresher on-refresh='clearAll()' pulling-icon='ion-ios7-reloading' refreshing-icon='ion-ios7-reloading'></ion-refresher>
    <div class='main'>
      <div class='credits-panel quarter-panel' id='panel-credits'>
        made by @mrjohnkeith
      </div>
      <div class='bill-panel quarter-panel active-panel' id='panel-0' ng-click='changeActivePanel(0)'>
        <div class='label'>Bill</div>
        <div class='number'>{{ bill.currency | currency }}</div>
      </div>
      <div class='tip-panel quarter-panel' id='panel-1' ng-click='changeActivePanel(1)'>
        <div class='label'>Tip</div>
        <div class='number'>
          ({{ tip.percent * 100 | number : 2 }}%) {{ tip.currency | currency }}
        </div>
      </div>
      <div class='tax-panel quarter-panel' id='panel-2' ng-click='changeActivePanel(2)'>
        <div class='label'>Tax</div>
        <div class='number'>({{ tax.percent * 100 | number : 2 }}%) {{ tax.currency | currency }}</div>
      </div>
      <div class='total-panel quarter-panel' id='panel-3'>
        <div class='label'>Total</div>
        <div class='number'>{{ total | currency }}</div>
      </div>
      <div class='slider-panel panel-hidden quarter-panel' id='panel-4'>
        <input class='slider-hidden' id='tip-slider' max='0.30' min='0.00' ng-change='sliderUsed(1); recalcTipCurrency(); calcTotal()' ng-model='tip.percent' step='0.01' type='range'>
        <input class='slider-hidden' id='tax-slider' max='1' min='0.00' ng-change='sliderUsed(2); recalcTaxCurrency(); calcTotal()' ng-model='tax.percent' step='0.01' type='range'>
      </div>
      <div calc='' class='calc'></div>
    </div>
  </ion-content>
</ion-view>
