<ion-view title='TipAdvisorSettings'>
  <ion-content id='calc-showable' ng-controller='settingsCtrl' scroll='false'>
    <div class='card-curious-blue'>
      <div class='item item-toggle item-text-wrap'>
        Subtract Sales Tax
        <label class='toggle toggle-niagara'>
          <input ng-model='taxPer.subTax' type='checkbox'>
          <div class='track'>
            <div class='handle'></div>
          </div>
        </label>
      </div>
      <div class='item' ng-show='taxPer.subTax'>
        {{taxPerConverted}}%
      </div>
    </div>
    <div calc='' ng-show='taxPer.subTax'></div>
  </ion-content>
</ion-view>
