<ion-view title='TipAdvisor'>
  <ion-content ng-controller='sliderView' scroll='false'>
    <input class='range testrange' max='30' min='0' ng-change='testing()' ng-model='testDollars' step='1' type='range'>
    <input ng-model='testDollars' type='text'>
    <button ng-click='testSetDollars()' type='button'>Test set $$$</button>
    <p>The test dollars are {{ testDollars }}</p>
    <ion-slide-box does-continue='true' on-slide-changed='slideHasChanged($index)' show-pager='false'>
      <ion-slide>
        <div class='slide-box slide-bill'>
          <div class='slide-content'>
            <div class='label'>Bill</div>
            <div class='number'>{{ billAsCurrency | currency }}</div>
          </div>
        </div>
      </ion-slide>
      <ion-slide prevent-drag=''>
        <div class='slide-box slide-tip'>
          <div class='slide-content'>
            <div class='label'>Tip</div>
            <div class='number'>{{ tipAsCurrency | currency }}</div>
            <div class='percent'>{{ tipAsPercent | number }}%</div>
            <input class='range' id='range-tip' max='30' min='0' ng-change='tipRangeChange()' ng-model='tip.percent' step='1' type='range'>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class='slide-box slide-tax'>
          <div class='slide-content'>
            <div class='label'>Tax</div>
            <div class='number'>{{ taxAsCurrency | currency }}</div>
            <div class='percent'>{{ taxAsPercent | number }}%</div>
            <input class='range' id='range-tax' max='30' min='0' ng-model='tax.percent' step='1' type='range'>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class='slide-box slide-box-lg slide-total'>
          <div class='slide-content'>
            <div class='summary summary-bill'>
              <div class='summary-content'>
                <div class='label'>Bill</div>
                <div class='number'>{{ billAsCurrency | currency }}</div>
              </div>
            </div>
            <div class='summary summary-tip'>
              <div class='summary-content'>
                <div class='label'>Tip</div>
                <div class='number'>{{ tipAsCurrency | currency }}</div>
                <div class='number'>({{ tipAsPercent | number }}%)</div>
              </div>
            </div>
            <div class='summary summary-tax'>
              <div class='summary-content'>
                <div class='label'>Tax</div>
                <div class='number'>{{ taxAsCurrency | currency }}</div>
                <div class='number'>({{ taxAsPercent | number }}%)</div>
              </div>
            </div>
            <div class='summary summary-total'>
              <div class='summary-content'>
                <div class='label'>Total</div>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div calc='' id='calc'></div>
  </ion-content>
</ion-view>
