<div ng-controller='sliderView' scroll='false'>
  <ion-slide-box does-continue='true' on-slide-changed='slideHasChanged($index)' show-pager='false'>
    <ion-slide>
      <div class='slide-box slide-bill'>
        <div class='slide-content'>
          <div class='number'>{{ billAsCurrency | currency }}</div>
          <div class='label'>Bill</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class='slide-box slide-tip'>
        <div class='slide-content'>
          <div class='number'>{{ tipAsCurrency | currency }}</div>
          <div class='percent'>{{ tipAsPercent | number }} %</div>
          <!-- %input.range.super-scaled-range{ type: "range", min: "0", max: "30", step: "1", "ng-model" => "tip", "ng-change" => "calcTotals()" } -->
          <div class='label'>Tip</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class='slide-box slide-tax'>
        <div class='slide-content'>
          <div class='number'>{{ taxAsCurrency | currency }}</div>
          <div class='percent'>{{ taxAsPercent | number }} %</div>
          <div class='label'>Tax</div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class='slide-box slide-total'>
        <div class='slide-content'>
          <div class='summary summary-bill'>
            <div class='summary-content'>Bill: {{ billAsCurrency | currency }}</div>
          </div>
          <div class='summary summary-tip'>
            <div class='summary-content'>Tip: ({{ tipAsPercent | number }} %) {{ tipAsCurrency | currency }}</div>
          </div>
          <div class='summary summary-tax'>
            <div class='summary-content'>Tax: ({{ taxAsPercent | number }} %) {{ taxAsCurrency | currency }}</div>
          </div>
          <div class='summary summary-total'>
            <div class='summary-content'>Total:</div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
  <p>ACTIVE SECTION: {{ activeSection }}</p>
  <button ng-click='insertTestData()'>INSERT TEST DATA</button>
  <div calc=''></div>
  <!-- <ion-slide-box on-slide-changed="slideHasChanged($index)"> -->
  <!-- <ion-slide> -->
  <!-- <div class="box blue"><h1>BLUE</h1></div> -->
  <!-- </ion-slide> -->
  <!-- <ion-slide> -->
  <!-- <div class="box yellow"><h1>YELLOW</h1></div> -->
  <!-- </ion-slide> -->
  <!-- <ion-slide> -->
  <!-- <div class="box pink"><h1>PINK</h1></div> -->
  <!-- </ion-slide> -->
  <!-- </ion-slide-box> -->
</div>
