<!-- Start testing things out by putting in the ng test ctrl -->
<div ng-controller='testCtrl'>
  <p>Bill Dollars: {{ bill.dollars }}</p>
  <p>Bill Cents: {{ bill.cents }}</p>
  <button ng-click='addDollars(8)'>Add Dollar</button>
  <button ng-click='addCents(4)'>Add Cents</button>
  <p>Tip Percent Ints {{ tip.tipPercentInts }}</p>
  <p>Tip Percent Fracts {{ tip.tipPercentFracts }}</p>
  <p>Tip As Percent {{ tipAsPercent }} %</p>
  <input class='range' max='30' min='0' ng-model='per' step='1' type='range'>
</div>
