<ion-view title='TipCalc'>
  <ion-content ng-controller='tipCalcCtrl' scroll='false'>
    <button class='button-right button button-icon icon ion-ios7-gear-outline' ui-sref='settings'></button>
    <div class='calc-container'>
      <div class='bill-container'>
        <div class='header'>Bill</div>
        <div class='cur-bill'>
          {{ bill.dollars + "." + bill.cents | currency }}
        </div>
      </div>
      <div class='tip-container'>
        <div class='header'>Tip</div>
        <div class='cur-tip'>
          {{ tipInCur | currency }} ({{ tip + "%" }})
        </div>
      </div>
      <div class='tip-slider-container'>
        <input class='tip-slider super-scaled-range' max='30' min='0' ng-change='calcTotals()' ng-model='tip' step='1' type='range'>
      </div>
      <div class='total-container'>
        <div class='header'>Total</div>
        <div class='cur-total'>
          {{ billWithTip | currency }}
        </div>
      </div>
      <div calc='' class='hidden-calc'></div>
    </div>
  </ion-content>
</ion-view>
