<ion-view title='TipCalc'>
  <ion-content ng-controller='tipCalcCtrl' scroll='false'>
    <!-- %button.button-right.button.button-icon.icon.ion-ios7-gear-outline{ "ui-sref" => "settings"} -->
    <div class='calc-container'>
      <div class='bill-container'>
        <div class='cur-bill'>
          {{ bill.dollars + "." + bill.cents | currency }}
        </div>
        <div class='label'>Bill</div>
      </div>
      <div class='tax-container'>
        <div class='cur-tax'>
          (0%) $0.00
        </div>
        <div class='label'>Tax</div>
      </div>
      <div class='tip-container'>
        <div class='cur-tip'>
          ({{ tip + "%" }}) {{ tipInCur | currency }}
        </div>
        <div class='label'>Tip</div>
      </div>
      <div class='tip-slider-container'>
        <input class='tip-slider super-scaled-range' max='30' min='0' ng-change='calcTotals()' ng-model='tip' step='1' type='range'>
      </div>
      <div class='total-container'>
        <div class='cur-total'>
          {{ billWithTip | currency }}
        </div>
        <div class='label'>Total</div>
      </div>
      <div calc='' ng-show='calcVisible'></div>
    </div>
  </ion-content>
</ion-view>
