<ion-view title='TipGuide'>
  <ion-content ng-controller='tipGuideCtrl'>
    <div class='list guide-list'>
      <label class='item item-input'>
        <input ng-model='search.$' placeholder='Search' type='text'>
      </label>
      <div class='item item-avatar-left' ng-repeat="country in guide | filter : search | orderBy : 'name' : reverse">
        <img src='./img/{{ country.code }}.png'>
        <h2>
          {{ country.name }}:
          <span>{{ country.avgTip }}</span>
        </h2>
        <p>{{ country.notes }}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
