$niagara-green: rgba(42, 187, 155, 1);
$cascade-grey: rgba(149, 165, 166, 1);
$curious-blue: rgba(30, 139, 195, 1);
$ebony-clay: rgba(34, 49, 63, 1);
$jaffa-orange: rgba(235, 151, 78, 1);
$sunset-orange: rgba(246, 71, 71, 1);

$top-bar-bg: rgba(248, 248, 248, 1);
$top-bar-border: rgba(248, 248, 248, 1);

$max-width: 100%;
$max-height: 100%;

*:focus {
  outline: none;
}

html {

}
body {
  background: darken($curious-blue, 10%);
  color: #1F1F21;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.main-container {
  background: $niagara-green;
  border-radius: 0px;
  max-width: $max-width;
  margin:0 auto;
}
.button-right {
  float: right;
}

.bill-container{
  padding: 10px 10px 20px 10px;
  .header{
    color: #FF3A2D;
    font-size: 1.6em;
    padding-bottom: 10px;
  }
  .cur-bill{
    font-size: 2em;
  }
}

.tip-container{
  padding: 10px;
  .header{
    color: #FF3A2D;
    font-size: 1.6em;
    padding-bottom: 10px;
  }
  .cur-tip{
    font-size: 2em;
  }
}

.tip-slider-container {
  padding-bottom: 10px;
  .tip-slider {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border:2px solid $top-bar-border;
      border-radius: 50%;
      background: $sunset-orange;
      height: 30px;
      outline:none;
      width: 30px;
    }
    &::-webkit-slider-thumb:active {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    -webkit-appearance: none;
    border-radius: 0;
    background: black;
    display: inline-block;
    height: 2px;
    -webkit-transform: translate3d(0px,0px,0px);
    width: 100%;
    // -ms-transform: rotate(270deg); /* IE 9 */
    // -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    // transform: rotate(270deg);
    z-index: 10000;
  }
}

.total-container{
  padding: 10px;
  .header{
    color: #FF3A2D;
    font-size: 1.6em;
    padding-bottom: 10px;
  }
  .cur-total{
    font-size: 2em;
  }
}
.from-top {
  margin-top: 100px;
}
.num-btns-container {
  bottom: 0;
  position: absolute; 
  width:100%;
  z-index: 1000;
  .row-btns {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &:first-child {
      .num-btn {
        border-top-width:0px;
      }
    }
    &:last-child {
      .num-btn {
        border-bottom-width:0px;
        height: 74px;
      }
    }
    .num-btn {
      &:first-child {
        border-right-width:1px;
        border-left-width:0px;
      }
      &:last-child {
        border-right-width:0px;
        border-left-width:1px;
        width: 106px;
      }
      &:active {
        background: $sunset-orange;
        // border: 1px solid transparent;
        // border-bottom-width:4px;
        color: white;
        // -webkit-transform: scale(1.1);
        // transform: scale(1.1);
        -webkit-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
      }
      background: white;
      border: none;
      border: 1px solid white;
      border-bottom-width:1px;
      color: $ebony-clay;
      cursor: pointer;
      display: inline-block;
      float: left;
      font-size: 1.4em;
      height: 73px;
      margin:0px;
      outline: none;
      text-align: center;
      width: 107px;
      -webkit-tap-highlight-color: white;
    }
  }
}

.hidden-calc {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
  -ms-opacity: 0;
  opacity: 0;  
}
.slide-up-calc {
  -ms-opacity: 1;
  opacity: 1;
}
#calc-showable {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
#calc-showable.ng-hide {
  opacity: 0;
}

.guide-list {

  .item-avatar-left {
    padding-left: 16px;
  }
  img {
    display: inline-block;
    position: static !important;
    vertical-align: middle;
  }
  h2 {
    span {
      display: inline-block;
      font-weight: 300;
    }
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
  }
  p {
    margin-top:5px;
    overflow: visible;
    text-overflow: none;
    white-space: normal;
  } 
}
.settings-menu-list {
  p {
    margin-top:5px;
    overflow: visible;
    text-overflow: none;
    white-space: normal;
  }
}
.toggle.toggle-niagara input:checked + .track {
  border-color: $sunset-orange;
  background-color: $sunset-orange; 
}
.card-full {
  box-shadow: none;
  margin: 0px;
}

.settings-page {
  background: black;
  .button-icon.icon {
    color: white;
  }
  #calc-showable {
    .num-btns-container {
      .row-btns {
        .num-btn {
          background: black;
          border-color: black;
          color: white;
        }
      }
    }
  }
}
.settings-options {
  margin-top: 50px;
  .item {
    background: black;
    border: none;
    color: white;
    font-size: 1.6em;
  }
}
.button-icon.icon {
  min-width: 40px;
}
.card-curious-blue {
  .item {
    &:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    background: $curious-blue;
    border-width:0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-radius: 0px;
    border-color: darken($niagara-green, 20%);
    color: white;
    font-size: 1.3em;
    opacity: 1;
    padding: 20px 10px 20px 10px;
    .toggle {
      margin: 1px;
    }
  }
}


@media (max-height: 480px) {
  .num-btns-container {
    .row-btns {
      &:last-child {
        .num-btn {
          height: 52px;
        }
      }
      .num-btn {
        &:last-child {
          width: 106px;
        }
        height:51px;
        width:107px;
      }
    }
  }
}
// ionic customizations
.header-bar {
  button:active {
    color:$sunset-orange;
  }
}
.pane {
  background: white;
}
.bar {
  border-bottom: 0px solid transparent;
}
.bar.bar-stable {
  border-color: transparent;
}

.fade-in-out.ng-enter, .fade-in-out .ng-enter {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
  position: absolute; }
