$niagara-green: rgba(42, 187, 155, 1);
$cascade-grey: rgba(149, 165, 166, 1);
$curious-blue: rgba(30, 139, 195, 1);
$ebony-clay: rgba(34, 49, 63, 1);
$jaffa-orange: rgba(235, 151, 78, 1);
$sunset-orange: rgba(246, 71, 71, 1);
$picton-blue: rgba(34, 167, 240, 1);
$crusta: rgba(242, 120, 75, 1);
$sunglo: rgba(226, 106, 106, 1);
$studio: rgba(142, 68, 173, 1);
$lynch: rgba(108, 122, 137, 1);
$sandstorm: rgba(249, 191, 59, 1);

$top-bar-bg: rgba(248, 248, 248, 1);
$top-bar-border: rgba(248, 248, 248, 1);

$max-width: 100%;
$max-height: 100%;

*:focus {
  outline: none;
}

html {
  background: linear-gradient(to bottom,$curious-blue, $niagara-green);
}
body {
  background: darken($curious-blue, 10%);
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#calc {
  -webkit-transition: 0.2s linear all;
  -moz-transition: 0.2s linear all;
  -ms-transition: 0.2s linear all;
  -o-transition: 0.2s linear all;
  transition: 0.2s linear all;
}
.hidden-calc {
  -ms-opacity: 0;
  opacity: 0;  
}
.slide-up-calc {
  -ms-opacity: 1;
  opacity: 1;
}
#calc-showable {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -ms-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
#calc-showable.ng-hide {
  opacity: 0;
}

.main {
  color: white;
  height: 100%;
  font-size: 1.5em;
  width: 100%;
  .quarter-panel {
    height: 10%;
    display: table;
    position: relative;
    padding: 0 0.2em 0 0.2em;
    width: 100%;
    .label {
      color: rgba(255,255,255,1);
      display: table-cell;
      font-size: 1.5em;
      font-weight: normal;
      text-align: left;
      vertical-align: middle;
    }
    .number {
      display: table-cell;
      text-align: right;
      vertical-align: middle;
      & + .number {
        border-right: 1px solid white;
        margin-right: 5px;
        padding-right: 5px;
      }
    }
  }
  .active-panel {
    background: rgba(255,255,255,0.15);
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .credits-panel {
      top: 0;
      color: rgba(255,255,255,0.15);
      margin-top: -10%;
      position: absolute;
      text-align: center;
  }
  .bill-panel {
  }
  .tip-panel {
  }
  .tax-panel {
  }
  .total-panel {
  }
  .slider-panel {
    // background: rgba(255,255,255,0.05);
    // border-top: 1px solid rgba(255,255,255,0.2);
    height: 10%;
    padding: 0;
    #tip-slider, #tax-slider {
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 2px solid rgba(255,255,255,1);
        border-radius: 50%;
        background: $sunglo;
        height: 2.8em;
        outline:none;
        width: 2.8em;
      }
      &::-webkit-slider-thumb:active {
        background: white;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        z-index: 10000;
      }
      -webkit-appearance: none;
      border-radius: 0;
      background: rgba(255,255,255,0.2);
      height: 2px;
      margin-top: 2em;
      -webkit-transform: translate3d(0px,0px,0px);
      width: 100%;
      // -ms-transform: rotate(270deg); /* IE 9 */
      // -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
      // transform: rotate(270deg);
      z-index: 10000;
      vertical-align: middle;
    }
    #tax-slider {
      &::-webkit-slider-thumb {
        background: $sunglo;
      }
    }
  }
  .panel-hidden{
    opacity: 0;
  }
  .panel-visible {
    opacity: 1;
  }
  .slider-hidden {
    display: none;
  }
  .slider-visible {
    display: block;
  }
}

.calc {
    bottom: 0;
    height: 50%;
    position: absolute;
    right: 0;
    width: 100%;
    .num-btns-container {
      height: 100%;
      width:100%;
      z-index: 1000;
      .row-btns {
        height: 25%;
        &:after {
          content: "";  
          clear: both;
        }
        &:first-child {
          .num-btn {
            border-top-width:2px;
          }
        }
        &:last-child {
          .num-btn {
            border-bottom-width:0px;
          }
        }
        .num-btn {
          &:first-child {
            border-right-width:1px;
            border-left-width:0px;
          }
          &:last-child {
            border-right-width:0px;
            border-left-width:1px;
          }
          &:active {
            background: white;
            // border: 1px solid transparent;
            // border-bottom-width:4px;
            color: $lynch;
            // -webkit-transform: scale(1.1);
            // transform: scale(1.1);
          }
          background: rgba(255,255,255,0.05);
          border: 0.5px solid rgba(255,255,255,0.2);
          border-bottom-width:1px;
          color: white;
          cursor: pointer;
          display: inline-block;
          font-size: 1em;
          float: left;
          height: 100%;
          margin:0px;
          outline: none;
          text-align: center;
          width: (100% / 3);
          -webkit-tap-highlight-color: white;
        }
      }
    }
  }

// media queries for iphone

/* iPhone with no retina display */
// @media screen {
//     body {
//     }
// }

/* iPhone < 5 and retina display */
// @media screen and (device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
//     body {
//     }
// }

/* iPhone <= 5 */
@media screen and (device-width: 320px) {
    .calc {
      .num-btns-container {
        .row-btns {
          .num-btn {
            width: 106px;
            &:last-child, &:first-child {
              width: 107px;
            }
          }
        }
      }
    }
}
// ionic customizations
.scroll {
  // background: linear-gradient(to bottom,#5856D6,#C644FC 100%);
  // background: linear-gradient(to bottom,$curious-blue, $niagara-green);
  height: 100%;
}
.scroll-bar {
  visibility: hidden;
}

.scroll-refresher .ionic-refresher-content {
  color: white;
  font-size: 3em;
}
.scroll-refresher {
  top: -15%;
}

.label-bar {
  button:active {
    color:$sunset-orange;
  }
}
.pane {
  // background: linear-gradient(to bottom,$curious-blue, $niagara-green);
  background: $curious-blue;
}
.bar {
  border-bottom: 0px solid transparent;
}
.bar.bar-stable {
  border-color: transparent;
}

.fade-in-out.ng-enter, .fade-in-out .ng-enter {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
  position: absolute; }
