$niagara-green: rgba(42, 187, 155, 1);
$cascade-grey: rgba(149, 165, 166, 1);
$curious-blue: rgba(30, 139, 195, 1);
$ebony-clay: rgba(34, 49, 63, 1);
$jaffa-orange: rgba(235, 151, 78, 1);
$sunset-orange: rgba(246, 71, 71, 1);

$top-bar-border: rgba(248, 248, 248, 1);

$max-width: 100%;
$max-height: 100%;

*:focus {
  outline: none;
}

html {

}
body {
  background: darken($curious-blue, 10%);
  color: white;
  font-family: 'Lato', sans-serif;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.main-container {
  background: $niagara-green;
  border-radius: 0px;
  max-width: $max-width;
  margin:0 auto;
}

.title-bar {
  background: $niagara-green;
  color: white;
  font-family: 'Kalam', cursive;
  font-size:1em;
  text-align: center;
}

.bill-container{
  background: $niagara-green;
  border-bottom: 2px solid darken($niagara-green, 20%);
  font-size: 1.5em;
  padding: 20px 10px 20px 10px;
  .header{
    display: inline-block;
  }
  .cur-bill{
    display: inline-block;
    float: right;
    font-weight: bold;
  }
}

.tip-container{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  background: $curious-blue;
  font-size: 1.5em;
  padding: 20px 10px 10px 10px;
  .header{
    display: inline-block;
    float: left;
    width: 33.33%;
  }
  .cur-tip{
    display: inline-block;
    float: right;
    font-weight: bold;
    text-align: right;
  }
}

.tip-slider-container {
  background: $curious-blue;
  border-bottom: 2px solid darken($curious-blue, 20%);
  padding: 0 10px 20px 10px;
  .tip-slider {
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border-radius: 50%;
      border:2px solid $top-bar-border;
      background: $sunset-orange;
      height: 20px;
      outline:none;
      width: 20px;
    }
    &::-webkit-slider-thumb:active {
      -webkit-transform: scale(1.4);
      transform: scale(1.6);
    }
    -webkit-appearance: none;
    background: white;
    display: inline-block;
    height: 6px;
    -webkit-transform: translate3d(0px,0px,0px);
    width: 100%;
  }
}
.num-btns-container {
  margin-top:1px;
  width:100%;
  .row-btns {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &:last-child {
      .num-btn {
        border-bottom-width:3px;
      }
    }
    padding-left:0px;
    text-align: center;
    .num-btn {
      &:first-child {
        border-right-width:0px;
        border-left-width:3px;
      }
      &:last-child {
        border-right-width:3px;
      }
      &:active {
        background: $sunset-orange;
        border: 1px solid transparent;
        border-bottom-width:4px;
        color: white;
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
      }
      background: rgba(255,255,255,1);
      border: 1px solid $niagara-green;
      // border: 1px solid darken($curious-blue, 20%);
      border-bottom-width:4px;
      color: $ebony-clay;
      cursor: pointer;
      display: inline-block;
      font-size: 1.4em;
      // height: 87px;
      height: 72px;
      margin:0px 0px 0px 0px;
      outline: none;
      text-align: center;
      width: 103px;
      -webkit-tap-highlight-color: white;
    }
  }
}

.total-container{
  background: $niagara-green;
  // border-bottom: 2px solid darken($niagara-green, 20%);
  font-size: 1.5em;
  padding: 20px 10px 20px 10px;
  .header{
    display: inline-block;
  }
  .cur-total{
    display: inline-block;
    float: right;
    font-weight: bold;
  }
}
.guide-list {
  .item-avatar-left {
    padding-left: 16px;
  }
  img {
    display: inline-block;
    position: static !important;
    vertical-align: middle;
  }
  h2 {
    span {
      display: inline-block;
      font-weight: 300;
    }
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
  }
  p {
    margin-top:5px;
    overflow: visible;
    text-overflow: none;
    white-space: normal;
  } 
}

@media (max-height: 480px) {
  .num-btns-container {
    .row-btns {
      .num-btn {
        height:50px;
        width:102px;
      }
    }
  }
}
// ionic customizations
.header-bar {
  button:active {
    color:$sunset-orange;
  }
}
.pane {
  background: $niagara-green;
  // background: darken($curious-blue, 20%);
}
.bar {
  border-bottom: none;
}
.bar.bar-stable {
  border-color: transparent;
}

.fade-in-out.ng-enter, .fade-in-out .ng-enter {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
  position: absolute; }
.fade-in-out.ng-leave, .fade-in-out .ng-leave {
  -webkit-animation: fadeOut 0.3s;
  -moz-animation: fadeOut 0.3s;
  animation: fadeOut 0.3s;
  position: absolute; }
