%ion-view{ title: "TipAdvisor"}
  %ion-content{ "ng-controller" => "homeCtrl" }
    %ion-refresher{ "on-refresh" => "clearAll()", "pulling-icon" => "ion-ios7-reloading", "refreshing-icon" => "ion-ios7-reloading" }
    .main
      / #panel-credits.credits-panel.quarter-panel
      /   made by @mrjohnkeith
      #panel-0.bill-panel.quarter-panel.active-panel{ "ng-click" => "changeActivePanel(0)" }
        .label Bill
        .number {{ bill.currency | currency }}
      #panel-2.tax-panel.quarter-panel{ "ng-click" => "changeActivePanel(2)" }
        .label Tax 
        .number ({{ tax.percent * 100 | number : 2 }}%) {{ tax.currency | currency }}
      #panel-1.tip-panel.quarter-panel{ "ng-click" => "changeActivePanel(1)" }
        .label Tip
        .number  
          %span{ style: "font-weight: bold" }
            ({{ tip.percent * 100 | number : 2 }}%)
          {{ tip.currency | currency }}
      #panel-3.total-panel.quarter-panel
        .label Total
        .number {{ total | currency }}
      
        / %input#tax-slider.slider-hidden{ type: "range", min: "0.00", max: "1", step: "0.01","ng-model" => "tax.percent", "ng-change" => "sliderUsed(2); recalcTaxCurrency(); calcTotal()" }
      .calc{ "calc" => "" }
