%ion-view{ title: "TipAdvisor"}
  %ion-content{ "ng-controller" => "homeCtrl", "scroll" => "false" }
    %ion-slide-box{ "on-slide-changed" => "slideHasChanged($index)", "show-pager" => "false", "does-continue" => "true" }
      %ion-slide
        .slide-box.slide-bill
          .slide-content
            .label Bill
            .number {{ bill.currency | currency }}
      %ion-slide{ "prevent-drag" => "" }
        .slide-box.slide-tip
          .slide-content
            .label Tip
            .number {{ tip.currency | currency }}
            .percent {{ tip.percent * 100 | number : 2 }}%
            %input.range#range-tip{ type: "range", min: "0.00", max: "0.30", step: "0.01", "ng-model" => "tip.percent", "ng-change" => "recalcTipCurrency(); calcTotal()" }     
      %ion-slide
        .slide-box.slide-tax
          .slide-content
            .label Tax
            .number {{ tax.currency | currency }}
            .percent {{ tax.percent * 100 | number : 2 }}%
            %input.range#range-tax{ type: "range", min: "0.00", max: "1", step: "0.01","ng-model" => "tax.percent", "ng-change" => "recalcTaxCurrency(); calcTotal()"}
      %ion-slide
        .slide-box.slide-box-lg.slide-total
          .slide-content
            .summary.summary-bill 
              .summary-content 
                .label Bill
                .number {{ bill.currency | currency }}
            .summary.summary-tip
              .summary-content
                .label Tip 
                .number {{ tip.currency | currency }} 
                .number ({{ tip.percent * 100 | number : 2}}%)
            .summary.summary-tax
              .summary-content
                .label Tax
                .number {{ tax.currency | currency }}
                .number ({{ tax.percent * 100| number : 2 }}%)
            .summary.summary-total
              .summary-content
                .label Total
                .number {{ total | currency }}
    %div#calc{ "calc" => "" }
