%ion-view{ title: "TipAdvisorSettings" }
  %ion-content{ "ng-controller" => "settingsCtrl" }
    .card-curious-blue
      .item.item-toggle.item-text-wrap
        Subtract Sales Tax
        %label.toggle.toggle-niagara
          %input{ type: "checkbox" }
          .track
            .handle

