%ion-view{ title: "TipAdvisorSettings"}
  %ion-content{ "ng-controller" => "settingsCtrl" }
    .card-niagara
      .item.item-toggle.item-text-wrap
        Subtract Tax
        %label.toggle.toggle-niagara
          %input{ type: "checkbox" }
          .track
            .handle
        / %p If you subtract tax, your tip will be calculated with the pre-tax amount of your bill. This can save you hundreds of dollars!
