%ion-view{ title: "TipAdvisorSettings" }
  %ion-content.settings-page{ "ng-controller" => "settingsCtrl", "scroll" => "false" }
    %button.button-right.button.button-icon.icon.ion-calculator{ "ui-sref" => "calc"}
    .settings-options
      .item.item-toggle.item-text-wrap
        Subtract Sales Tax
        %label.toggle.toggle-niagara
          %input{ type: "checkbox", "ng-model" => "taxPer.subTax" }
          .track
            .handle
      .item{ "ng-show" => "taxPer.subTax" }
        Of {{taxPerConverted}}%
    %div#calc-showable{ "calc" => "", "ng-show" => "taxPer.subTax" }
        
    

