%ion-view{ title: "TipAdvisorSettings" }
  %ion-content#calc-showable{ "ng-controller" => "settingsCtrl" }
    .card-curious-blue
      .item.item-toggle.item-text-wrap
        Subtract Sales Tax
        %label.toggle.toggle-niagara
          %input{ type: "checkbox", "ng-model" => "taxToggle" }
          .track
            .handle
      .item{ "ng-show" => "taxToggle" }
        Test text
    %div{ "showCalc" => "" } Show Calc
    

