%div{ "ng-controller" => "sliderView", "scroll" => "false" }
  %ion-slide-box{ "on-slide-changed" => "slideHasChanged($index)", "show-pager" => "false", "does-continue" => "true" }
    %ion-slide
      .slide-box.slide-bill
        .slide-content
          .number {{ billAsCurrency | currency }}
          .label Bill
    %ion-slide
      .slide-box.slide-tip
        .slide-content
          .number {{ tipAsCurrency | currency }}
          .percent {{ tipAsPercent | number }} %
          / %input.range.super-scaled-range{ type: "range", min: "0", max: "30", step: "1", "ng-model" => "tip", "ng-change" => "calcTotals()" }
          .label Tip
    %ion-slide
      .slide-box.slide-tax
        .slide-content
          .number {{ taxAsCurrency | currency }}
          .percent {{ taxAsPercent | number }} %
          .label Tax
    %ion-slide
      .slide-box.slide-total
        .number 
        .label Total
  %p ACTIVE SECTION: {{ activeSection }}
  %button{"ng-click" => "insertTestData()"} INSERT TEST DATA
  %div{ "calc" => "" }
  / <ion-slide-box on-slide-changed="slideHasChanged($index)">
  /   <ion-slide>
  /     <div class="box blue"><h1>BLUE</h1></div>
  /   </ion-slide>
  /   <ion-slide>
  /     <div class="box yellow"><h1>YELLOW</h1></div>
  /   </ion-slide>
  /   <ion-slide>
  /     <div class="box pink"><h1>PINK</h1></div>
  /   </ion-slide>
  / </ion-slide-box>
