%ion-view{ title: "TipCalc" }
  %ion-content{ "ng-controller" => "tipCalcCtrl", "scroll" => "false" }
    / %button.button-right.button.button-icon.icon.ion-ios7-gear-outline{ "ui-sref" => "settings"}
    .calc-container
      .bill-container
        .cur-bill
          {{ bill.dollars + "." + bill.cents | currency }}
        .label Bill
      .tax-container 
        .cur-tax
          (0%) $0.00
        .label Tax
      .tip-container
        .cur-tip
          ({{ tip + "%" }}) {{ tipInCur | currency }}
        .label Tip
      .tip-slider-container
        %input.tip-slider.super-scaled-range{ type: "range", min: "0", max: "30", step: "1", "ng-model" => "tip", "ng-change" => "calcTotals()" }
      .total-container
        .cur-total
          {{ billWithTip | currency }}
        .label Total
      %div{ "calc" => "", "ng-show" => "calcVisible" }
