%ion-view{ title: "TipCalc" }
  %ion-content{ "ng-controller" => "tipCalcCtrl", "scroll" => "false" }
    .calc-container
      .bill-container
        .header Bill
        .cur-bill
          {{ bill.dollars + "." + bill.cents | currency }}
      .tip-container
        .header Tip
        .cur-tip
          ({{ tip + "%" }}) {{ tipInCur | currency }}
      .tip-slider-container
        %input.tip-slider.super-scaled-range{ type: "range", min: "0", max: "30", step: "1", "ng-model" => "tip", "ng-change" => "calcTotals()" }
      .total-container
        .header Total
        .cur-total
          {{ billWithTip | currency }}
      %div.hidden-calc{ "calc" => "" }
