%ion-view{ title: "TipCalc" }
  %ion-content{ "ng-controller" => "tipCalcCtrl", "scroll" => "false" }
    / %button.button-right.button.button-icon.icon.ion-ios7-gear-outline{ "ui-sref" => "settings"}
    .calc-container
      .bill-container
        .header Bill
        .cur-bill
          {{ bill.dollars + "." + bill.cents | currency }}
      .tip-container
        .header Tip
        .cur-tip
          {{ tipInCur | currency }} ({{ tip + "%" }})
      .tip-slider-container
        %input.tip-slider.super-scaled-range{ type: "range", min: "0", max: "30", step: "1", "ng-model" => "tip", "ng-change" => "calcTotals()" }
      .total-container
        .header Total
        .cur-total
          {{ billWithTip | currency }}
      %div{ "calc" => "", "ng-show" => "calcVisible" }
