%ion-view{ title: "TipGuide"}
  %ion-content{ "ng-controller" => "tipGuideCtrl" }
    .list.guide-list
      .item.item-avatar-left{ "ng-repeat" => "country in guide" }
        %img{ src: "./img/{{ country.code }}.png"}
        %h2 
          {{ country.name }}: 
          %span {{ country.avgTip }}
        %p {{ country.notes }}
