%ion-view{ title: "TipGuide"}
  %ion-content{ "ng-controller" => "tipGuideCtrl" }
    .fixed-list
      %label.item.item-input
        %input{ type: "text", "ng-model" => "search.$", placeholder: "Search" }
    .list.guide-list
      .item.item-avatar-left{ "ng-repeat" => "country in guide | filter : search | orderBy : 'name' : reverse" }
        %img{ src: "./img/{{ country.code }}.png"}
        %h2 
          {{ country.name }}: 
          %span {{ country.avgTip }}
        %p {{ country.notes }}
