<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.tipadvisor228301" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>TipAdvisor</name>
  <description>
        Calculate tips to save time and money
    </description>
  <author email="johnkeith@outlook.com" href="http://johnkeith.us/">
      John Keith
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
