!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}
    %title TipAdvisor
    %link{ href: "css/ionic.app.min.css", rel: "stylesheet" }
    %link{ href: "css/custom.min.css", rel: "stylesheet" }
    %script{ src: 'lib/ionic/js/ionic.bundle.js' }
    %script{ src: 'cordova.js' }
    %script{ src: 'cordova_plugins.js' }
    %script{ src: 'js/controllers/tipadvisor.controllers.js' }
    %script{ src: 'js/services/tipadvisor.services.js' }
    %script{ src: 'js/directives/tipadvisor.directives.js' }
    %script{ src: 'js/tipadvisor.js' }
    / <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    / <link href='http://fonts.googleapis.com/css?family=Kalam:400,700' rel='stylesheet' type='text/css'>
  %body.platform-ios{ "ng-app" => "tipAdvisor" }
    %ion-header-bar.header-bar.bar-light
      %button.button.button-icon.icon.ion-ios7-world-outline{ "ui-sref" => "guide" }
      %h1.title{ "ui-sref" => "calc" } TipAdvisor
      %button.button.button-icon.icon.ion-ios7-gear-outline{ "ui-sref" => "settings"}
    %ion-nav-view{ "animation" => "fade-in-out" }
